# Storing and retrieving data from AWS S3

In [3]:
# Importing the dependencies
import boto3
import pandas as pd
s3 = boto3.client("s3")

In [4]:
s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-2',
    aws_access_key_id='',
    aws_secret_access_key=''
)

In [6]:
# Lets see the bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

bankapplication96
swarnavas3

In [7]:
# Serring default values so that we dont need to mention again
import os
os.environ["AWS_DEFAULT_REGION"] = 'us-east-2'
os.environ["AWS_ACCESS_KEY_ID"] = ''
os.environ["AWS_SECRET_ACCESS_KEY"] = ''

In [8]:
# Make dataframes
foo = pd.DataFrame({'x': [1, 2, 3], 'y': ['a', 'b', 'c']})
bar = pd.DataFrame({'x': [10, 20, 30], 'y': ['aa', 'bb', 'cc']})

# Save to csv
foo.to_csv('data1.csv')
bar.to_csv('data2.csv')

In [9]:
# Upload files to S3 bucket
s3.Bucket('swarnavas3').upload_file(Filename='data1.csv', Key='data1.csv')
s3.Bucket('swarnavas3').upload_file(Filename='data2.csv', Key='data2.csv')

In [10]:
# Lets check
for obj in s3.Bucket('swarnavas3').objects.all():
    print(obj)

s3.ObjectSummary(bucket_name='swarnavas3', key='data1.csv')
s3.ObjectSummary(bucket_name='swarnavas3', key='data2.csv')

In [11]:
# Load csv file directly into python
obj = s3.Bucket('swarnavas3').Object('data1.csv').get()
data1 = pd.read_csv(obj['Body'], index_col=0)

In [12]:
obj = s3.Bucket('swarnavas3').Object('data2.csv').get()
foo = pd.read_csv(obj['Body'], index_col=0)

In [13]:
# Lets see the data
data1.head()

   x  y
0  1  a
1  2  b
2  3  c

In [18]:
# Download file and read from disc
s3.Bucket('swarnavas3').download_file(Key='data1.csv', Filename='data1.csv.csv')
pd.read_csv('data1.csv', index_col=0)

   x  y
0  1  a
1  2  b
2  3  c